form#add.form-horizontal
  #errors.row
    .col-lg-12
  .form-group
    .col-lg-4
      input#username.form-control[placeholder="Username" type="text"]
  .form-group
    .col-lg-4
      input#phonenumber.form-control[placeholder="Phone Number" type="tel"]
    .col-lg-1
      button.btn.btn-primary[type="submit"] Add

javascript:
  $('#add').on('submit',function (e) {
    e.preventDefault();
    $.ajax({
      url: '/participants/register',
      accepts: "application/json",
      dataType: 'json',
      type: 'POST',
      data : JSON.stringify({ 
        "username": $("#username").val(),
        "phone_number": $("#phonenumber").val()
      }),
      success: function(json) {
        location.reload();
      },
      error: function(xhr, errorType, exception) {
        $.each(xhr.responseJSON, function(key, value) {
          console.log();
          $("#errors .col-lg-12").html(
            "<div class='alert alert-danger'><strong>Error: </strong>" + key + ' ' + value + "</div>"
           )
        });
      }
    })
  })