form#contact
  #errors.row
    .col-lg-12
  .row
    .col-lg-4
      input#phonenumber[placeholder="Phone Number" type="tel"]
    .col-lg-1
      button.btn.btn-primary[type="submit"] Submit

javascript:
  $('#contact').on('submit',function (e) {
    e.preventDefault();
    $.ajax({
      url: '/participants/create',
      accepts: "application/json",
      dataType: 'json',
      type: 'POST',
      data : JSON.stringify({ "phone_number": $("#phonenumber").val() }),
      success: function(json) {
        location.reload();
      },
      error: function(xhr, errorType, exception) {
        $.each(xhr.responseJSON, function(key, value) {
          console.log();
          $("#errors .col-lg-12").html(
            "<div class='alert alert-danger'><strong>Error: </strong>" + key + ' ' + value + "</div>"
           )
        });
      }
    })
  })