.container
  .main
    #scoreboard.info
      .info-body

// Party in the back

javascript:
  var scoreboard = function() {
    var render = function () {
      return $.getJSON('/participants', updateScoreboard);
    }
    var updateScoreboard = function (data) {
      var ctx = $('#scoreboard');
      $('.info-body', ctx).html('<ol/>');
      var topScore = data[0].connected_to_ids.length
      $(data).each(function (index, p) {
        p.score = p.connected_to_ids.length
        $('ol', ctx).append('<li><div class="score-bar" style="width:' + p.score / topScore * 100 + '%;"></div><b class="score"><span>' + p.score + '</span></b>' + p.username + '</li>');
      });
    };

    render()

    setTimeout(function keepUpdate() {
      render()
        .always(function() {
          setTimeout(keepUpdate, 3000);
        });
    }, 3000);

  };

  $(document).ready(function() {
    scoreboard();
  });
