.dashboard {
  position: fixed;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  background: midnight;
  overflow: hidden;

  .visualization {
    position: relative;
    height:  0;
    width: 70%;
    padding-bottom: 56.25%;

    svg {
      position: absolute;
      top:    0;
      right:  0;
      bottom: 0;
      left:   0;
    }
  }
  .info {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    height: 100%;
    width:  30%;
  }
}

.navbar {
  .btn {
    margin-right:10px;
  }
}
