.animate-switch-container {
  position:relative;
  border:1px solid black;
  height: 100%;
  overflow:hidden;
}

.animate-switch.ng-animate {
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


.animate-switch.ng-enter {
  left: 100%;
}

.animate-switch.animate-enter-active {
  left: 0;
}

.animate-switch.animate-leave {
    left: 0;
}

.animate-switch.ng-leave-active {
  left: -100%;
}
