#force-directed {
  text {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  circle {
    stroke-width: 2;
    transition: all 300ms ease;
  }
  circle:hover,
  circle:active,
  circle:focuss {
    stroke-width: 5px;
  }
  .links {
    fill: #090;
    stroke: #090;
    stroke-width: 3px;
  }
  .nodes {
    fill: none;
    stroke: none;
  }
}

#scoreboard {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
  }
  .info-header, li {
    margin: 0;
    border-bottom: 1px solid transparent;
    padding: 5.37% 5.37% 5.37% 20.37%;
    position: relative;
  }
  .score-bar {
    position: absolute;
    top: 0;
    left: 15.97%;
    bottom: 0;
    background: red;
    width: 0%;
    z-index: -4;
  }
  .score {
    width: 15.97%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    span {
      position: absolute;
      font-size: 2.2em;
      margin-top: -0.6875em;
      top: 50%;
      left: 0;
      right: 0;
    }
  }
}

#hierarchial-edge-bundling {
  text {
    font-size: 16px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  .node {
    font: 10px sans-serif;
  }
  .link {
    stroke: #008000;
    stroke-opacity: .6;
    fill: none;
  }
}

#bubbles {
  text {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.visualization {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%
}
