@import "dashboard";
@import "instructions";
@import "visualizations";
@import "ng-animate";

$accent-color: #e3eff4;

body{
  background: #241e2d;
  color: white;
}

.page-header {
  color: $accent-color;
  border-color: $accent-color;
  h1 {
    font-size: 38.5px;
  }
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $accent-color;
}

.bs-docs-section-header.red-headings {
  margin-bottom: 30px;
  border-bottom: 5px solid;
  h1 {
    font-size: 80px;
    font-size: 8rem;
    line-height: 1;
  }
}

.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}

.patient-profile-picture {
  margin-top:40px;
}
